<form action="/article/<%= article.id %>" method="post">
  <h3>Please Login to Comment</h3>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Name" name="name" />
  </div>

  <div class="form-floating">
    <textarea class="form-control" name="comment"></textarea>
  </div>
</form>
