<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo Articulo</title>
    <%- include ('partials/bootstrap') %>
  </head>
  <body class="vh-100">
    <%- include("partials/navbar") %>
    <div class="my-5 d-flex flex-column justify-content-center align-items-center">
      <% if (messages.error) {%>
        <div class="alert alert-danger" role="alert">
          <%= messages.error %>
        </div>
      <% } %>
      <div
        class="container w-50 d-flex flex-column align-items-center justify-content-center p-3 border border-dark shadow rounded"
      >
        <h1 class="text-center">Log in</h1>
        <form id="login-form" class="mt-4 w-100" action="/login" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              required
            />
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Insert password..."
                required
              />
          </div>
          <div class="col-12 mt-3">
            <button class="btn btn-primary btn-success" type="submit">Log in</button>
          </div>
        </form>
      </div>
    </div>
    <%- include ("partials/footer") %>
  </body>
</html>
