/* Colocar aquí CSS "propio" */
.hero {
  background-image: url("../img/milanesa.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.hero > * {
  color: white;
  font-weight: bold;
}

.articlePreview {
  border-bottom: 1px solid lightgray;
  margin-inline: 200px;
  margin-block: 20px;
}

.textoPrincipal {
  font-weight: bold;
}
.createHome {
  margin-bottom: 20px;
}
